<a href="https://colab.research.google.com/github/prab-tri/BigDataApps/blob/master/ICP01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load the Pandas libraries with alias 'pd'

In [5]:
import pandas as pd

Storing path of the file to a variable *filepath* (csv file is saved on g drive)

In [4]:
filepath = '/content/drive/My Drive/Big Data and Apps/ICP01/Data/Data.csv'

Open the csv file and convert to data from using pandas

In [7]:
data = pd.read_csv(filepath)

Preview the first 5 lines of data

In [8]:
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

Below syntax will show top and last 5 rows in dataset

In [9]:
data

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [12]:
#Check size of dataframe
data.shape

(569, 33)

Dataset has 569 rows and 33 columns

In [16]:
#checking datatype of all columns
data.dtypes

id                           int64
diagnosis                   object
radius_mean                float64
texture_mean               float64
perimeter_mean             float64
area_mean                  float64
smoothness_mean            float64
compactness_mean           float64
concavity_mean             float64
concave points_mean        float64
symmetry_mean              float64
fractal_dimension_mean     float64
radius_se                  float64
texture_se                 float64
perimeter_se               float64
area_se                    float64
smoothness_se              float64
compactness_se             float64
concavity_se               float64
concave points_se          float64
symmetry_se                float64
fractal_dimension_se       float64
radius_worst               float64
texture_worst              float64
perimeter_worst            float64
area_worst                 float64
smoothness_worst           float64
compactness_worst          float64
concavity_worst            float64
concave points_worst       float64
symmetry_worst             float64
fractal_dimension_worst    float64
Unnamed: 32                float64
dtype: object

In [20]:
#checks the count of null for each columns
data.isnull().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

Only last column has 569 rows as null and also dataset has total 569 rows so we can ignore or remove this column for data analysis perspective.

In [22]:
#dropping the last column, axis =1 ensures column drop and inplace means it returns none and changes are reflected in same datframe.
data.drop(['Unnamed: 32'], axis  = 1, inplace = True)

In [24]:
#check the shape of data now
data.shape

(569, 32)

Now We have dataframe of size 569 rows and 32 columns

In [26]:
#check dataset again for confrimation 
data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [47]:
#info methods prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.4+ KB

In [27]:
#Analysis on diagnosis column
data['diagnosis'].describe()

count     569
unique      2
top         B
freq      357
Name: diagnosis, dtype: object

We have two unique value for column *diagnosis*

In [48]:
#counting rows having diagnosis value as 'M' and storing in a variable
count_M = len(data['diagnosis'][data['diagnosis'] =='M'])

In [38]:
#counting rows having diagnosis value as 'B' and storing in a variable
count_B = len(data['diagnosis'][data['diagnosis'] =='B'])

In [49]:
#Priniting the information about column diagnosis
print("As per dataset, we have %d records diagnosed as 'M' and %d as 'B'" %(count_M, count_B))

As per dataset, we have 212 records diagnosed as 'M' and 357 as 'B'

In [44]:
'''describe method tells us basic statistical chracteristics of each numerical features.
we get statistical feature of only 31 columns. Column 'diagnosis' is tyoe of non numerical so it is not listed'''
data.describe()

                 id  radius_mean  ...  symmetry_worst  fractal_dimension_worst
count  5.690000e+02   569.000000  ...      569.000000               569.000000
mean   3.037183e+07    14.127292  ...        0.290076                 0.083946
std    1.250206e+08     3.524049  ...        0.061867                 0.018061
min    8.670000e+03     6.981000  ...        0.156500                 0.055040
25%    8.692180e+05    11.700000  ...        0.250400                 0.071460
50%    9.060240e+05    13.370000  ...        0.282200                 0.080040
75%    8.813129e+06    15.780000  ...        0.317900                 0.092080
max    9.113205e+08    28.110000  ...        0.663800                 0.207500

[8 rows x 31 columns]

In [51]:
#we can also use below syntax to include all column having either type of object or boolean.
data.describe(include  = ['object', 'bool'])

       diagnosis
count        569
unique         2
top            B
freq         357

In [52]:
#Average value of numerical fields for diagnosis vlaue of 'B'
data[data['diagnosis'] == 'B'].mean()

id                         2.654382e+07
radius_mean                1.214652e+01
texture_mean               1.791476e+01
perimeter_mean             7.807541e+01
area_mean                  4.627902e+02
smoothness_mean            9.247765e-02
compactness_mean           8.008462e-02
concavity_mean             4.605762e-02
concave points_mean        2.571741e-02
symmetry_mean              1.741860e-01
fractal_dimension_mean     6.286739e-02
radius_se                  2.840824e-01
texture_se                 1.220380e+00
perimeter_se               2.000321e+00
area_se                    2.113515e+01
smoothness_se              7.195902e-03
compactness_se             2.143825e-02
concavity_se               2.599674e-02
concave points_se          9.857653e-03
symmetry_se                2.058381e-02
fractal_dimension_se       3.636051e-03
radius_worst               1.337980e+01
texture_worst              2.351507e+01
perimeter_worst            8.700594e+01
area_worst                 5.588994e+02
smoothness_worst           1.249595e-01
compactness_worst          1.826725e-01
concavity_worst            1.662377e-01
concave points_worst       7.444434e-02
symmetry_worst             2.702459e-01
fractal_dimension_worst    7.944207e-02
dtype: float64

In [54]:
#Average value of numerical fields for diagnosis vlaue of 'M'
data[data['diagnosis'] == 'M'].mean()

id                         3.681805e+07
radius_mean                1.746283e+01
texture_mean               2.160491e+01
perimeter_mean             1.153654e+02
area_mean                  9.783764e+02
smoothness_mean            1.028985e-01
compactness_mean           1.451878e-01
concavity_mean             1.607747e-01
concave points_mean        8.799000e-02
symmetry_mean              1.929090e-01
fractal_dimension_mean     6.268009e-02
radius_se                  6.090825e-01
texture_se                 1.210915e+00
perimeter_se               4.323929e+00
area_se                    7.267241e+01
smoothness_se              6.780094e-03
compactness_se             3.228117e-02
concavity_se               4.182401e-02
concave points_se          1.506047e-02
symmetry_se                2.047240e-02
fractal_dimension_se       4.062406e-03
radius_worst               2.113481e+01
texture_worst              2.931821e+01
perimeter_worst            1.413703e+02
area_worst                 1.422286e+03
smoothness_worst           1.448452e-01
compactness_worst          3.748241e-01
concavity_worst            4.506056e-01
concave points_worst       1.822373e-01
symmetry_worst             3.234679e-01
fractal_dimension_worst    9.152995e-02
dtype: float64